#!/bin/bash

set -eufo pipefail

# source:
# https://github.com/twpayne/dotfiles/blob/master/home/.chezmoiscripts/darwin/run_onchange_before_install-packages.sh.tmpl

{{ $brews := list
     "bat"
     "btop"
     "curl"
     "dockutil"
     "fastfetch"
     "ffmpeg"
     "fd"
     "fish"
     "fzf"
     "gdu"
     "gh"
     "git"
     "git-lfs"
     "jless"
     "jq"
     "just"
     "neovim"
     "pkg-config"
     "rclone"
     "ripgrep"
     "starship"
     "tldr"
     "tmux"
     "tree"
     "uv"
     "watch"
     "wget"
     "zoxide" -}}

{{ $casks := list
     "1password-cli"
     "font-jetbrains-mono-nerd-font"
     "google-chrome"
     "rectangle"
     "sublime-text"
     "telegram"
     "visual-studio-code"
     "vlc"
     "wezterm"
     "whatsapp" -}}

{{- if .work -}}
     {{ $casks = list
          "1password-cli"
          "font-jetbrains-mono-nerd-font"
          "google-chrome"
          "rectangle"
          "visual-studio-code"
          "vlc"
          "wezterm" -}}
{{ end -}}


brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
