#!/bin/bash

set -eufo pipefail

# source:
# https://github.com/twpayne/dotfiles/blob/master/home/.chezmoiscripts/darwin/run_onchange_before_install-packages.sh.tmpl

{{ $taps := list -}}
{{ $brews := list
     "btop"
     "curl"
     "dockutil"
     "fastfetch"
     "ffmpeg"
     "fd"
     "fish"
     "fzf"
     "gdu"
     "gh"
     "gitleaks"
     "git"
     "glow"
     "go"
     "git-lfs"
     "jless"
     "jq"
     "just"
     "lazygit"
     "neovim"
     "node"
     "pkg-config"
     "qsv"
     "rclone"
     "ripgrep"
     "scc"
     "rust"
     "starship"
     "tldr"
     "tmux"
     "tree"
     "uv"
     "watch"
     "wget"
     "zoxide" -}}
{{ $casks := list
     "1password"
     "1password-cli"
     "alfred"
     "antigravity"
     "font-hack-nerd-font"
     "font-jetbrains-mono-nerd-font"
     "ghostty"
     "google-chrome"
     "maccy"
     "obsidian"
     "rectangle"
     "sublime-text"
     "visual-studio-code"
     "vlc" -}}

{{- if .has_docker }}
{{ $taps = append $taps "mikescher/tap" -}}
{{ $brews = append $brews "mikescher/tap/dops" -}}
{{- end }}

{{- if .install_messenger_apps }}
{{ $casks = concat $casks (list "telegram" "whatsapp") -}}
{{- end -}}


/opt/homebrew/bin/brew bundle --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

# Remove anything not in the bundle
# brew bundle cleanup --force --file=/dev/stdin <<EOF
# {{ range ($brews | sortAlpha | uniq) -}}
# brew "{{ . }}"
# {{ end -}}
# {{ range ($casks | sortAlpha | uniq) -}}
# cask "{{ . }}"
# {{ end -}}
# EOF
