{{/* boolean feature tags */}}
{{- $work:= false -}}{{/* true if this machine is on corp */}}
{{- $desktop:= false -}}

{{- if contains ".google" .chezmoi.fqdnHostname -}}
  {{- $work = true -}}
{{- end -}}

{{- if contains ".roam" .chezmoi.fqdnHostname -}}
  {{- $work = true -}}
{{- end -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $has_secrets := (eq $osid "darwin") -}}
{{- $desktop := (eq $osid "darwin") -}}


[data]
    osid = {{ $osid | quote }}

    work = {{ $work }}
    desktop = {{ $desktop }}
    has_secrets = {{ $has_secrets }}
    install_rust = false
    install_docker = false

[git]
    autoCommit = true
    autoPush = true

