{{/* boolean feature tags */}}
{{- $desktop:= false -}}{{/* true if this machine is a desktop */}}
{{- $roam:= false -}}{{/* true if this machine is a laptop on corp */}}
{{- $work:= false -}}{{/* true if this machine is on corp */}}

{{- if contains ".google" .chezmoi.fqdnHostname -}}
  {{- $work = true -}}
  {{- if contains ".roam." .chezmoi.fqdnHostname -}}
    {{- $roam = true -}}
  {{- end -}}
{{- end -}}

{{- if contains "hacker." .chezmoi.fqdnHostname -}}
  {{- $desktop = true -}}
{{- end -}}

[data]
    desktop = {{ $desktop }}
    roam = {{ $roam }}
    work = {{ $work }}
    install_rust=false
    install_docker=false

[git]
    autoCommit = true
    autoPush = true

