{{- $is_darwin := eq .chezmoi.os "darwin" -}}
{{- $osid := .chezmoi.os -}}

{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $ssh_agent_sock := "" -}}
{{- if $is_darwin -}}
  {{- $ssh_agent_sock = printf "%s/%s" .chezmoi.homeDir "Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock" -}}
{{- end -}}

{{- $install_messenger_apps := false -}}
{{- if stdinIsATTY -}}
{{-   $install_messenger_apps = promptBoolOnce . "install_messenger_apps" "Install messenger apps (WhatsApp, Telegram)" -}}
{{- end -}}

{{- $vault := "tptotmecquzpv24ubsnrunhhfu" -}}

{{- $home_dns := "" -}}
{{- $chrugi_domain := "" -}}

{{- if $is_darwin -}}
  {{- $home_dns = (onepasswordItemFields "x2lxtth2uokhbkgkllb25zvnnm" $vault).home_dns_name.value -}}
  {{- $chrugi_domain = (onepasswordItemFields "x2lxtth2uokhbkgkllb25zvnnm" $vault).chrugi_domain.value -}}
{{- else -}}
  {{- $home_dns = promptString "home dns alias" -}}
{{- end -}}

data:
    adk:
        vault: {{ $vault }}
        item: fbj5zxcapxn56754ohncb5cm3y

    osid: {{ $osid | quote }}
    use_1password: {{ $is_darwin }}

    home_dns_alias: {{ $home_dns | quote }}
    chrugi_domain: {{ $chrugi_domain | quote }}
    ssh_agent_sock: {{ $ssh_agent_sock | quote }}
    install_messenger_apps: {{ $install_messenger_apps }}

    has_docker: false  # switch this manually to install docker utils

git:
    autoAdd: true
    autoCommit: false
    autoPush: false

diff:
  command: "code"
  args:
    - "--wait"
    - "--diff"
    - "{{ `{{ .Destination }}` }}"
    - "{{ `{{ .Target }}` }}"

merge:
  command: "bash"
  args:
    - "-c"
    - "cp {{ `{{ .Target }}` }} {{ `{{ .Target }}` }}.base && code --wait --new-window --merge {{ `{{ .Destination }}` }} {{ `{{ .Target  }}` }} {{ `{{ .Target }}` }}.base {{ `{{ .Source }}` }}"
