{{/* boolean feature tags */}}
{{- $work:= false -}}{{/* true if this machine is on corp */}}
{{- $desktop:= false -}}
{{- $use_1password:= false -}}
{{- $osid := .chezmoi.os -}}

{{- if contains ".google" .chezmoi.fqdnHostname -}}
  {{- $work = true -}}
{{- end -}}

{{- if contains ".roam" .chezmoi.fqdnHostname -}}
  {{- $work = true -}}
{{- end -}}

{{- if eq $osid "darwin" -}}
  {{- $use_1password = true -}}
{{- end -}}


{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $has_secrets := (eq $osid "darwin") -}}
{{- $desktop := (eq $osid "darwin") -}}

{{- $ssh_agent_sock := "" -}}
{{- if $use_1password -}}
  {{- if eq .chezmoi.os "linux" }}
    {{-  $ssh_agent_sock = printf "%s/%s" .chezmoi.homeDir ".1password/agent.sock" -}}
  {{- end -}}
  {{- if eq .chezmoi.os "darwin" -}}
    {{-  $ssh_agent_sock = printf "%s/%s" .chezmoi.homeDir "Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock" -}}
  {{- end -}}
{{- end -}}

{{- $vault_1password:= "tptotmecquzpv24ubsnrunhhfu" -}}

{{- $home_dns := "" }}
{{- $chrugi_domain := "" }}

{{ if $use_1password -}}
  {{- $home_dns = (onepasswordItemFields "x2lxtth2uokhbkgkllb25zvnnm" $vault_1password ).home_dns_name.value -}}
  {{- $chrugi_domain = (onepasswordItemFields "x2lxtth2uokhbkgkllb25zvnnm" $vault_1password ).chrugi_domain.value -}}
{{- else -}}
  {{- $home_dns = promptString "home dns alias" -}}
{{ end -}}


data:
    adk:
        vault: $vault_1password
        item: fbj5zxcapxn56754ohncb5cm3y

    osid: {{ $osid | quote }}
    work: {{ $work }}
    use_1password: {{ $use_1password }}
    desktop: {{ $desktop }}
    has_secrets: {{ $has_secrets }}
    install_rust: false
    install_docker: false

    home_dns_alias: {{ $home_dns | quote }}
    chrugi_domain: {{ $chrugi_domain | quote }}
    ssh_agent_sock: {{ $ssh_agent_sock | quote }}

git:
    autoAdd: true
    autoCommit: false
    autoPush: false


diff:
  command: "code"
  args:
    - "--wait"
    - "--diff"
    - "{{ `{{ .Destination }}` }}"
    - "{{ `{{ .Target }}` }}"

merge:
  command: "bash"
  args:
    - "-c"
    - "cp {{ `{{ .Target }}` }} {{ `{{ .Target }}` }}.base && code --wait --new-window --merge {{ `{{ .Destination }}` }} {{ `{{ .Target  }}` }} {{ `{{ .Target }}` }}.base {{ `{{ .Source }}` }}"