[user]
name = Max HK
email = 4649120+maximehk@users.noreply.github.com

[diff]
tool = delta

[merge]
tool = delta

[difftool]
prompt = false

[pull]
rebase = true

[init]
defaultBranch = main

[interactive]
diffFilter = delta --color-only

[delta]
navigate = true
side-by-side = true
dark = true
syntax-theme = base16-256
width = 120
pager = less -R -S

[core]
hooksPath = ~/.git-hooks
excludesfile = {{.chezmoi.homeDir}}/.gitignore_global
pager = delta
