[user]
name = Max HK
email = 4649120+maximehk@users.noreply.github.com

[diff]
tool = code

[merge]
tool = code

[difftool]
prompt = false

[alias]
d = code
s = status
c = commit -a
cm = commit -am

[pull]
rebase = true

[init]
defaultBranch = master

[core]
hooksPath = ~/.git-hooks
excludesfile = {{.chezmoi.homeDir}}/.gitignore_global
