[user]
name = Max
email = max@noreply.com

[diff]
tool = code

[merge]
tool = code

[difftool]
prompt = false

[alias]
d = code
s = status
c = commit -a
cm = commit -am

[pull]
rebase = true

[init]
defaultBranch = master
