{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

sudo apt update
sudo apt install -y bzip2 curl detox git htop jq mc mplayer moreutils myrepos ncdu nmap perl tcpdump tcpreplay terminator tmux tree unzip vcsh vim zip zsh


{{ if .desktop -}}

sudo apt install -y copyq

{{ end -}}
{{ end -}}
