# Enable persistent connection multiplexing

{{ if .work -}}
Host *.c.googlers.com
  ControlMaster auto
  ControlPath ~/.ssh/%r@%h:%p
  ControlPersist 10800
{{ end }}

Host macmini
  HostName macmini
  User max
  ControlMaster auto
  ControlPath ~/.ssh/%r@%h:%p
  ControlPersist 10800
