# Enable persistent connection multiplexing

{{ if .work -}}
Host *.c.googlers.com
  ControlMaster auto
  ControlPath ~/.ssh/%r@%h:%p
  ControlPersist 10800  # 3h
{{- end }}

Host macmini
  # Enable persistent connection multiplexing
  ControlMaster auto
  ControlPath ~/.ssh/%r@%h:%p
  ControlPersist 10800  # 3h
