# Enable persistent connection multiplexing
Host *
  ControlMaster auto
  ControlPath ~/.ssh/z_cm_%r@%h:%p
  ControlPersist 10800
  ServerAliveInterval 120

{{ if .ssh_agent_sock -}}
Host github.com
  IdentityFile ~/.ssh/home.pub
  IdentitiesOnly yes
  IdentityAgent "{{.ssh_agent_sock}}"
  User git
{{- end }}

{{ if and .work .desktop -}}
Host vm
  HostName vmax.c.googlers.com

Host home
  Hostname {{.home_dns_alias}}
  User max
  LocalForward 5900 127.0.0.1:5900
  ForwardAgent yes
  IdentityAgent "{{.ssh_agent_sock}}"

Host mt
  HostName 192.168.99.1
  User max
  ProxyJump home
  IdentityAgent "{{.ssh_agent_sock}}"

{{ if .chrugi_domain -}}
Host sv
  HostName sv.lan.{{.chrugi_domain}}
  User max
  ProxyJump home
  IdentityAgent "{{.ssh_agent_sock}}"
{{- end }}
{{- end }}

{{ if not .work -}}
{{ if .chrugi_domain -}}
Host sv
  HostName sv.lan.{{.chrugi_domain}}
  User max
{{- end }}

Host macmini
  HostName macmini
  User max

Host mt
  HostName mt
  User max

{{- end }}
