GOOGLE_GENAI_USE_VERTEXAI=0

GOOGLE_API_KEY={{ onepasswordRead "op://Private/Google_ADK/api_key" }}
GOOGLE_CLOUD_PROJECT={{ onepasswordRead "op://Private/Google_ADK/cloud_project/name" }}
GOOGLE_CLOUD_LOCATION={{ onepasswordRead "op://Private/Google_ADK/cloud_project/zone" }}

