#!/bin/sh

sudo apt update

sudo apt install -y bat btop bzip2 curl detox git htop fastfetch fd-find fish fzf jq mc mplayer moreutils \
       myrepos ncdu neofetch nmap perl pipx python3 python3-pip neovim starship \
       tcpdump tcpreplay terminator tldr tmux tree unzip vcsh vim zip zoxide zsh

mkdir -p ~/.local/bin ; ln -sf /usr/bin/batcat ~/.local/bin/bat

{{ if .desktop -}}

sudo apt install -y copyq

{{- end }}
