{{ if and (eq .chezmoi.os "linux") (.work)  -}}
#!/bin/sh

sudo glinux-add-repo gosso stable sendgmr drive-fs-all
sudo apt-get update

sudo apt-get install -y \
   git-remote-google \
   sendgmr \ 
   drive-fs \
   gosso

{{ end -}}
