{{ if and (eq .chezmoi.os "linux") (.work)  -}}
#!/bin/sh


if [ ! -e $HOME/.config/vcsh/repo.d/google.git ] ; then
  gcert
  vcsh clone "sso://user/${USER}/google_profile" google
  vcsh google pull
fi

{{ end -}}
