{{- if .work_vm }}
format = """
[](c1)\
${custom.env}\
$hostname\
[](bg:c2 fg:c1)\
$directory\
[](fg:c2 bg:c3)\
$git_branch\
$git_status\
[](fg:c3 bg:c4)\
$c\
$golang\
$rust\
[](fg:c4 bg:c5)\
$docker_context\
[](fg:c5 bg:c6)\
$time\
[ ](fg:c6)\
"""
{{- else -}}
format = """
[](c1)\
${custom.env}\
$hostname\
[](bg:c2 fg:c1)\
$directory\
[](fg:c2 bg:c3)\
[](fg:c3 bg:c4)\
[](fg:c4 bg:c5)\
$time\
[ ](fg:c6)\
"""
{{- end }}


palette = 'main'

[palettes.main]
c1 = '#9A348E'
c2 = '#FCA17D'
c3 = '#86BBD8'
c4 = '#06969A'
c5 = '#33658A'
c6 = '#33658A'


[custom.env]
command = "chezmoi execute-template '{{if .work_vm}}🚨{{else if .work_macos}}💼{{else}}⾕{{end}}'"
when = "which chezmoi > /dev/null"
format = '[$output ](bg:c1)'


# Disable the blank line at the start of the prompt
# add_newline = false

# You can also replace your username with a neat symbol like   or disable this
# and use the os module below
[username]
show_always = true
style_user = "bg:c1"
style_root = "bg:c1"
format = '[$user ]($style)'
disabled = false

[hostname]
ssh_only = false
disabled = false
{{ if .work_macos -}}
format = '[@macbook](bg:c1)'
{{- else -}}
format = '[@$hostname](bg:c1)'
trim_at = '.c.'
{{- end }}


# An alternative to the username module which displays a symbol that
# represents the current operating system
[os]
style = "bg:c1"
disabled = true      # Disabled by default

[directory]
style = "bg:c2"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"
truncate_to_repo = false

# Here is how you can shorten some long paths by text replacement
# similar to mapped_locations in Oh My Posh:
[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "
# Keep in mind that the order matters. For example:
# "Important Documents" = " 󰈙 "
# will not be replaced, because "Documents" was already substituted before.
# So either put "Important Documents" before "Documents" or use the substituted version:
# "Important 󰈙 " = " 󰈙 "

[docker_context]
symbol = " "
style = "bg:c4"
format = '[ $symbol $context ]($style)'


[git_branch]
symbol = ""
style = "bg:c2"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "bg:c2"
format = '[$all_status$ahead_behind ]($style)'

[golang]
symbol = " "
style = "bg:#86BBD8"
format = '[ $symbol ($version) ]($style)'


[java]
symbol = " "
style = "bg:#86BBD8"
format = '[ $symbol ($version) ]($style)'


[rust]
symbol = ""
style = "bg:#86BBD8"
format = '[ $symbol ($version) ]($style)'


[time]
disabled = false
time_format = "%R"             # Hour:Minute Format
style = "bg:c6"
format = '[ ♥ $time ]($style)'
